= template_include_tag 'students_list'
= form_for Student.new, remote: true, id: '#student_form' do |f|
  = f.label :name, 'Имя'
  = f.text_field :name
  = f.label :surname, 'Фамилия'
  = f.text_field :surname
  = f.label :date_of_birth, 'Дата рождения'
  = f.text_field :date_of_birth
  = f.label :email, 'Email'
  = f.text_field :email
  = f.label :group, 'Номер группы'
  = collection_select(:student, :group_id, Group.all, :id, :name)
  = f.submit 'Создать', id: 'submit_btn'

%h1 Топ 10 студентов с наивысшим лучшим рейтингом
%table#students_list{ border: '1' }